.logo {
    background-color: #fff;
    position: absolute;
    padding: 0 10px;
    right: 0;
    z-index: 1;
    width: 270px;
}

.pactera-logo {
    object-fit: cover;
    max-height: 65px;
    width: 250px;
}