*{
  font-family: 'Arial';
  font-size: 16px;
}
td {
  padding: 0 15px;
  background-color: #fff;
     /* background: rgba(185, 88, 75, 0.836); */
      width: 150px;
      text-align: center;
      border: 1px solid black;
      padding: 5px;
    
      line-height: 1.15;
  -webkit-text-size-adjust: 100%
  }
  .headercolour{
    background-color: aqua;
    text-align: center;
    
  }
  .sizing{
    width:100%;
  }
  .next-button-container{
    position: relative;
    top: 62px;
  }
  
  .table{
    border-collapse: collapse;
    margin:0;
    padding:0px;
  }
  .aligning-description{
    padding-left: 40px;
  }